<form #form="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            class="form-control"
            placeholder="Username *"
            for="username" ngModel/>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Password *"
            for="password" ngModel/>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            name="email"
            class="form-control"
            placeholder="Email *"
            for="email" ngModel/>
        </div>

        <div class="form-group">
          <input
            type="hidden"
            name="active"
            class="form-control"
            value=1
            for="active" ngModel/>
        </div>

        <div class="form-group">
          <input
            type="hidden"
            name="role"
            class="form-control"
            value="Admin"
            for="role" ngModel/>
        </div>
  <button type="submit" class="btn btn-primary" (click)="register(form)">Register</button>
</form>
