// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: 'Lato', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;


/// Navbar link color
/// @type Color
$navbar-light-color: rgb(201, 50, 9);


/// Navbar link hover color
/// @type Color
$navbar-light-hover-color:  rgb(214, 101, 70);


/// Link color
/// @type Color
$link-color: rgb(201, 50, 9)!default;


/// Link hover color
/// @type Color
$link-hover-color: rgb(214, 101, 70)!default;

/// Primary color
/// @type Color
$primary:     rgb(0 , 121, 196) !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;

/// Light theme color
/// @type Color
$light:  rgb(217 , 235, 246);

/// Dark theme color
/// @type Color
$dark:rgb(64, 154, 211) !default;

/// Copy text color
/// @type Color
$text-color: rgb(34, 34, 34) !default;

/// Main brand color
/// @type Color
$brand-color: rgb(201, 50, 9) !default;

/// Light grey
/// @type Color
$light-grey: rgb(217 , 235, 246);

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;


/// Background color
/// @type Color
$body-bg: $light-grey;


/// Container's maximum width
/// @type Length
$max-width: 1180px !default;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;
