<form #form="ngForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      class="form-control"
      placeholder="Name *"
      for="name" ngModel/>
  </div>

  <div class="form-group">
    <label for="password">Description</label>
    <input
      type="description"
      name="description"
      class="form-control"
      placeholder="Description *"
      for="description" ngModel/>
  </div>

  <div class="form-group">
    <label for="dateStart">Date Start</label>
    <input
      type="datetime"
      name="dateStart"
      class="form-control"
      placeholder="Date *"
      for="dateStart" ngModel/>
  </div>

  <div class="form-group">
    <label for="dateEnd">Date End</label>
    <input
      type="datetime"
      name="dateEnd"
      class="form-control"
      placeholder="Date End *"
      for="dateEnd" ngModel/>
  </div>

  <div class="form-group">
    <label for="locationStart">Location Start</label>
    <select class="form-control" id="locationStart" type="Location" name="locationStart" ngModel>
      <option value="" disabled>Choose trip start location</option>
      <option *ngFor="let location  of locations" value={{location.id}}>{{location.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="locationStart">Location End</label>
    <select class="form-control" id="locationEnd" type="Location" name="locationEnd" ngModel>
      <option value="" disabled>Choose trip End location</option>
      <option *ngFor="let location  of locations" value={{location.id}}>{{location.name}}</option>
    </select>
  </div>


  <button type="submit" class="btn btn-primary" (click)="createTrip(form)">Create Trip</button>
</form>
