<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/images/menu_logo.png" alt="" width="75" height="30"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup" [ngbCollapse]='isCollapsed' >
      <div class="navbar-nav text-center">
        <a class="float-right nav-link active" aria-current="page" href="#">Trips</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#">Join</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>
