// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------


.nav-link {
  font-size: 0.8em;
  color: $brand-color;
  margin-left: 1rem;
}

