// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

button.btn-primary{
  background-color: $brand-color;
  border-color: $navbar-light-hover-color;
}

button.btn-primary:hover {
  background-color: rgba($brand-color,0.8);
  border-color: $navbar-light-hover-color;
}

.btn-secondary {
  background-color: $light-grey;
}

button.btn-primary:not(:disabled):not(.disabled):active:focus,
button.btn-primary:not(:disabled):not(.disabled):active,
button.btn-primary:focus {
  background-color: rgba($brand-color,0.8);
  border-color: ($brand-color);
  box-shadow: none;
}
